body {
    margin: 0;
    font-family: sans-serif ;
}

.grid {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 200px; /* con esta propiedad podemos definir los valores que tendran las filas creadas automaticamente */
    grid-auto-flow: row; /* el grid autoflow define que se hara con las rows que se creen automaticamente, column para que se hagan columnas en ese caso si sirve el auto-columns, tambien rows q es de forma por defecto 
    grid-template-columns: 100px; tambien se puede con columnas aunque las columnas no se suelen crear automaticamente */


    column-gap: 10px; /* el gap es el espacio que hay entre unas cajas y otras, en este caso esta siendo aplicado a las columnas */
    row-gap: 10px; /* y esta es la separacion para las filas */
    /* gap: 10px; de esta forma resumimos ambas en solo una linea*/
}

.grid-item {
    background-color: #48e;
    padding: 10px;
    font-size: 40px;
    color: #fff;
}