.n {
    color: blue; /* cambia el color de el texto */
    font-family:sans-serif; /* cambia la tipografia */
    font-size: 13px; /* tamaño de texto */
    font-weight: bold; /* define el grosor de la letra */
    font-style: italic; /* cambia el estilo de la letra */
    text-align: center; /* alinea el texto en su caja */
    text-decoration: line-through; /* da diferentes estilos a la letra, como tacharla o subrayarla */
    line-height: normal; /* el espaciado de los renglones */
    letter-spacing: normal; /* espacio entre letras */
    text-transform: uppercase; /*hace que toda la letra pueda ser en mayuscula, minuscula, o que cada que se comienza una palabra tenga mayus */
}
/* elemento con tipografia externa */
.p {
    font-family: "Urbanist";
}