body {
    margin: 0;
    font-family: sans-serif ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* autofit esta constantemente comprobando si es posible crear otra columna y lo hará, cuando no hay espacio suficiente crea filas para que se distribuyan los elementos */
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: dense; /* rellena los espacios en blanco cuando una pagina se rompe, no respeta el orden de los elementos y se puede saltar algunas cajas */
    grid-auto-rows: 200px;
    grid-auto-columns: 1fr;
    gap: 10px;
    margin: 10px;
}

.grid-item {
    background-color: #48e;
    padding: 10px;
    font-size: 40px;
    color: #fff;
    border-radius: 10px;
}

.grid-item:first-child {
    background-color: #f00;
    grid-column: 4/span 4; /* de esta forma lo abreviamos */
    grid-row:1/span 1; 
    /* grid-column-start: 4; */
    /* grid-row-start: 1; */
    /* grid-column-end: 10; */
    /* grid-column-end: span 2; con el span le dejamos fijo cuanto espacio ocupará */
    /* grid-row-end: 2; */
}
/* con esto le podemos indicar al elemento desde que linea de columna comenzar y hasta donde terminar, de igual manera con las filas */