body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr) 4fr;  /* primero indicamos el numero de veces que queremos repetir y el valor a repetir, de igual forma podemos seguir asignando valores despues del repeat  */
    /* tambien podemos dar patrones repeat(2, 1fr 3fr);  tambien se puede con px*/
    grid-template-rows: 100px 200px 300px; 
}

/* .grid-item:first-child { 
    grid-template-columns: minmax(100px, 300px); con esto le indicamos a la caja de que punto hasta que punto puede agrandarse, siendo 100 el minimo y 300 el maximo 
} */
/* se puede repetir minmax y repeat: repeat(4, minmax(100px, 300px));  */
/* esto tambien se puede aplicar a las filas */

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    color: #fff;
}