body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* 
contenedor {
    max-width:100%;
    aspect-ratio: 16/9 ; ---es el aspecto del video que queremos conseguir, y mantiene el aspecto
}

video {
    max-width: 100%;
}

*/