body {
    background-color: #1113; /* a los fondos se les puede dar opacidad */
    margin: 0;
}

h2 {
    text-align: center;
}

.box {
    width: 450px;
    height: 234px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;  
    background-color: #000;
    background-image: url("https://pm1.aminoapps.com/7829/0a3eeee51b6dd61aa25826c10a1bb6793e3b9956r1-450-234v2_uhq.jpg"); /*también poner imagenes */
    background-size: 100%; /* la imagen crecera en ancho , se ajustara al ancho mas no al alto, aca se pueden usar porcentajes */
}

.box-box {
    width: 400px;
    height: 400px; 
    margin: auto;
    border-radius: 30px;
    background: url("https://pm1.aminoapps.com/7829/0a3eeee51b6dd61aa25826c10a1bb6793e3b9956r1-450-234v2_uhq.jpg") center / cover no-repeat fixed #000; /* de esta manera nos evitamos escribir todos los tipos de background en una sola linea */
    /* la barra (/) siempre va entre position y size */
    /* su orden es background-image, " position, " size, " repeat, " attachment, " color */
}

.box-contain {
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 30px;
    background-color: #000;
    background-image: url("https://pm1.aminoapps.com/7829/0a3eeee51b6dd61aa25826c10a1bb6793e3b9956r1-450-234v2_uhq.jpg");
    background-size: contain; /* fuerza a mostrar la imagen, sea cual sea la resolucion de la caja */
    background-repeat: no-repeat; /* hace que no se repita la imagen tambien exite repeat-y & repeat-x, y para repetir vertical y x para repetir horizontal */
    
}



.box-cover {
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 30px;
    background-color: #000;
    background-image: url("https://pm1.aminoapps.com/7829/0a3eeee51b6dd61aa25826c10a1bb6793e3b9956r1-450-234v2_uhq.jpg");
    background-size: cover; /* se adapta a la resolucion total */
    background-position: center; /* si la imagen no se ve correctamente se puede cambiar la posicion, en este caso esta centrada */
    background-attachment: fixed; /* hace que la imagen baje junto al scroll */
}



