.transition { /* el transition debe estar en la caja contenedora */
    width: 400px;
    height: 400px;
    background-color: #f00;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    position: relative;
    left: 0;
    transition-property: color, background-color, left; /* seleccionamos la propiedad que se va a transicionar */
    transition-duration: 0.3s; /* tiempo que durara la transicion */
    transition-delay: 0ms; /* el tiempo que durara para que empiece la transicion */ 
    transition-timing-function: linear; /* permite cambiar lo brusco que se va a hacer la transicion, tambien se puede hacer con el cubic-bezier (hay una pagina para eso cubic-bezier.com) */
}
/* lo ideal es hacerlo asi para ahorrar lineas: transition: left 1s linear 2s. (primero va la propiedad, duracion, timing function y por ultimo delay */

.transition:active {
    background-color: #a00;
    color: #fff;
    left: 500px;
}