h2 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px#000; /* sombra para texto, no es muy usado, la expansion no existe. */
}

.sombras {
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 30px;
    border-top: 10px solid blue;
    background: linear-gradient(transparent, blue);

    box-shadow: 20px 20px 50px 10px #000; /* esta es la propiedad para indicar sombra a una caja. El primer valor es cuanto se va a correr la sombra en horizontal, en este caso 20px, despues verticalmente; 10px, cuanto desenfoque tendrá la sombra; 50px, despues cual sera el tamaño de la sombra; 10px, y por ultimo el color; negro. */ 
}

.imagen {
    display: block;
    margin: auto;
    margin-top: 60px; 
    border-radius: 100%;
    box-shadow: 0px 0px 30px #000; /* de esta manera se aplican sombras a imagenes que no tengan texto transparente */
}

.img-transparent {
    display: block;
    margin: auto;
    margin-top: 60px;
    filter: drop-shadow(0px 0px 30px #000) /* se supone que asi se hace para iconos, pero no me sirvio un culo XDDD, tal vez se tiene que descargar */ 
}