div {
    background: red;
    width: 150px;
    text-align: center;
    margin: auto;

    border-width: 5px; /* cambia el grosor de el borde */
    border-color: black; /* cambia el color de el borde */
    border-style: solid; /* cambia el estilo de el borde */
    border: 5px solid black; /* si, tambien hay shorthands width, color, style. */
    border-top: 20px; /*tambien se puede elegir a que lado irá el borde y tambien se puede darles shorthands como con el border normal*/
    border-top-left-radius: 2px; /* tambien se puede las esquinas independientes jajaj q loco Y TAMBIEN TIENE SHORTHANDS KKKK */ 
    border-radius: 8px; /* redondean bordes */ 
}