.box {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    color: white;
    background-color: red;
    position: relative; /* permite mover cajas en el eje Y y Z libremente, pero mantiene su espacio en la pagina */
    z-index: 10; /* permite mover la caja en el eje z, basicamente podemos hacer que una caja que esta por debajo de otra pueda estar por delante poniendo un valor mas alto */
}

.box--blue {
    background-color: blue;
    top: 20px; /* asi las movemos, con top/bottom y left/right, aunque left y top son mucho mas importantes que las demas cuando ambas estan definidas */
    left: 30px;
    z-index: 20; /* es recomendable hacerlo de 10 en 10 */
}