body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: start; /* propiedad que alinea los items en el eje principal. start es el valor por defecto, estara en direccion del texto*/
/*  justify-content: end; alinea al final de el eje*/
/*  justify-content: center; alinea las propiedades al centro */
/*  justify-content: space-between; manda el primer elemento al inicio, el ultimo al final y los del medio se agrupan pero siempre con la misma distancia entre ellos */
/*  justify-content: space-around; le da un margen a los costados para que las cajas queden un poco mas separadas */
/*  justify-content: space-evenly; deja a los elementos a la misma distancia unos entre otros */

/* align items se suele usar solo cuando tenemos una linea de contenedores, cuando hay mas es mejor alignt content */
    align-items: start; /* alinea items en el eje cruzado.  */
/*  align-items: stretch; estira los objetos para que no dejen espacios entre ellos  es el valor por defecto*/
/* ":           end/center; los posiciona al final/centro */
/* ":           baseline; alinea las cajas con el texto contenido */

/* se usa mas para varias lineas de contenedores */
    align-content: start; /* alinea los elementos sin dejar espacios de por medio, los apila todos */
    /* se le puede dar casi todos los valores anteriores */
}

.flex-item {
    width: 100px;
    height: 150px;
    background-color: #911;
    margin: 10px;
}

.flex-item:first-child {
    background-color: #d54;
}