body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.bloque {
    display: inline-block;
    min-width: 200px; /* lo recomendable es darle min o max width */
    max-width: 300px;
    background-color: #a9f;
    margin: auto;
    width: 100%;
    flex: 1;
}