td, th { /* estamos dandole bordes a la tabla ya q por defecto no trae */
    text-align: center;
    border-bottom: 1px solid #0004;
}

table {
    width: 100%;
    border-spacing: 10px; /* separa los bordes de otros */
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 20px #0004;

}

.total {
    border: none;
}